# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [37]:
# for keyword, counter/iterator, in keyword, object
#looping through a range
 #    start, stop, step

for i in range(10):
    print(i)

print('\n')

name = "Bulbasaur"
for letter in name:
    print(letter)
    
    print ('\n')
    
    #len() which returns the Length of an iterable/objext
    length = len(name)
    print(length)
    
    #looping by index
    #  9
    
for i in range(len(name)):
    print (name[i], "at index", i)

0
1
2
3
4
5
6
7
8
9


B


9
u


9
l


9
b


9
a


9
s


9
a


9
u


9
r


9
B at index 0
u at index 1
l at index 2
b at index 3
a at index 4
s at index 5
a at index 6
u at index 7
r at index 8

##### Using 'in' keyword

In [36]:
#in is what accesses the items in an iterable
# double each number from 0 to 15
for num in range(15):
    print(num*2)
    
    book = "The Two Towers"
    
if "t" in book:
    print("totally tubular")
else: 
    print ("no")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
no

##### Continue Statement

In [35]:
#continue

for i in range(20):
    if i == 5 or i == 6:
        continue
        print (i)
        
      
        
        
for i in range(20):
    if i == 5 or i == 6:
        continue
        print(i)

##### Break Statement

In [ ]:
for i in range(10):
    if i ==4;
    break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [38]:
for i in range(5):
    for j in range(i):
        print("i = ", i, "j = ", j)

i =  1 j =  0
i =  2 j =  0
i =  2 j =  1
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3

In [39]:
my_list = [1, 2,3,4,5,6]
for num in my_list:
    for num2 in my_list:
        print(num + num2)

2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10
6
7
8
9
10
11
7
8
9
10
11
12

### While Loops

In [42]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0
while counter < 11:
    counter += 1
    print (counter)

1
2
3
4
5
6
7
8
9
10
11

##### looping 'While True'

In [45]:
# true as a condition for while loop to run
# True 
# False
counter = 0
while True:
    print(counter)
   
    counter +=1
    if counter == 5:
        break

0
1
2
3
4

In [50]:
game_over = False
while True:
    print ("infinite loop")
    if game_over == False:
        break

infinite loop

In [52]:
#using a boolean as a flag to run a while
game = True # flag 
my_list = [2,5,4,7,6]
i=0
while game: #some thing as saying while True 
    if my_list[i] == 4:
    game = False
    i+=1
    print(my-list)

IndentationError: expected an indented block after 'if' statement on line 6 (670398309.py, line 7)

##### While & For Loops Used Together

##### The Range Function

In [ ]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

### String Manipulation Exercise

In [54]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [58]:
# [] is a list, anything wrapped in [] is a list of that thing or things
#declaring an empty list
# our_list = []
# print(our_list)
# names = ["Ryan", "Boba Fett"]
# numbers = [1,2,4,5,6]

# stuff = ["Ryan", "Boba Fett", 3,5,4,7,8[1,2,55,8]]

# print(names)
# print(numbers)
# print(stuff)

##### Indexing a List

In [ ]:
# [start: stop: step] --> last item [-1]

### List Methods

##### .append()

In [59]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
print(names)
names.append("Kym")
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Kym']

##### .insert()

In [62]:
#our_list.insert(index, value)
print(names)
names.insert(3, "Bikram")
print(names)

# names2 = names.insert(4, Berik)
# print(names2)

['Ryan', 'Tenzin', 'Austin', 'Bikram', 'Bikram', 'Dylan', 'Mohammad', 'Kym']
['Ryan', 'Tenzin', 'Austin', 'Bikram', 'Bikram', 'Bikram', 'Dylan', 'Mohammad', 'Kym']

##### .pop()

In [65]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable


name = names.pop(2)
print(name)
print(names)
#removes last item by default
name2 = names.pop()
print(name)
print (names)

Bikram
['Ryan', 'Tenzin', 'Bikram', 'Dylan', 'Mohammad']
Bikram
['Ryan', 'Tenzin', 'Bikram', 'Dylan']

##### .remove()

In [67]:
# value to be removed, not an index
# names.remove("Kym")
# print(names)

### Working With Lists

##### del()

In [68]:
# index to be removed, not value 
del (names[0])

print(names)

['Tenzin', 'Bikram', 'Dylan']

##### min()

In [69]:
# return the smallest item in a list
numbers = [5,6,12,6,7,234,1,0,2]
print(min(numbers))

0

##### max()

In [70]:
# returns largest item in a list
numbers = [5,6,12,6,7,234,1,0,2]
print(max(numbers))

234

##### sum()

In [72]:
# return the sum of all numbers in a list
numbers = [5,6,12,6,7,234,1,0,2]
print(sum(numbers))

273

##### sorted()

In [73]:
#sorted will return a new sorted list, create a new variable
sorted_nums = sorted(numbers)
print(sorted_nums)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [75]:
#.sort() will sort the original list
numbers.sort()
print(numbers)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### Copying a List

In [82]:
# [:] copies a list, doesn't alter original'

names = ["Grase", "Justin", "Micheal", "Connor", "Wil"]
more_names= names[:]
print(more_names)

TypeError: 'list' object is not callable

##### Looping Through Lists

In [84]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
#looping by value 
#

##### 'in' keyword

In [92]:
names = ["Ryan", "aaaa", "Tenzin", "Austin", "Jeong", "Nate"]

if "Grase" in names:
    print(" Hello Grase!")
else:
    ("There is no Grase")

##### 'not in' keyword

In [ ]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

##### Checking an Empty List

In [1]:
l_2 = []
l_3 = None
if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("yes")
else: 
    print("no")

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [97]:
#while, remove

names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
for name in names
        if name == "Tenzin":
            names.remove(name)
print(names)
names =  ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
while "Tenzin" in names
names.remove ("Tenzin")
    print(name)

SyntaxError: expected ':' (2051598645.py, line 4)

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [106]:
test_list = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

# initializing list
# test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : " + str(names))

# using set() to remove duplicated from list
names = list(set(names))

# printing list after removal
# distorted ordering
print ("The list after removing duplicates : " + str(names))

TypeError: 'list' object is not callable

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [ ]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

##### sorted()

##### Adding values to a Tuple

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [ ]:
alist = [1,11,14,5,8,9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>